body {
    padding-top: 70px;
}

h1 {
    text-align: center;
}

.navbar-inverse {
    background-color: #8BE8CB;
}
.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav>li>a{
    color: salmon;
}

.navbar-nav {
    float: right;
}
    
#posts ul {
        -webkit-padding-start: 0px;
        padding-inline-start: 0px;         
}

#posts li{
    list-style: none;    
    border-style: solid;
    border-radius: 2px;
    border-width: 1px;
    border-color: grey;
    box-shadow: 0 4px 2px -2px silver;
    height: 260px;
    margin-bottom: 20px;
}

#post-image {
    padding-left: 0px;    
}


#post-image img {
    margin: 20px;
    height: 180px;
    width: 240px;
}
#post-author > div {
    margin-top: 20px;    
    border-left: solid silver 1px;
}   

#post-author img {
    height: 100px;
    width: 100px;
    border-radius: 50px;    
    margin-left: 20px;
    margin-bottom: 20px;    
}

#post-author p {
    padding-left: 20px;    
}

#name{
    font-weight: bold;
    color: #CD4643;
}

#role {
    font-weight: bolder;
}

.pagination li>a {
 margin-right: 10px; 
 border-radius: 50% !important;
 color: black;
}

.pagination li.active>a {
    background-color: red;    
}

li.pagnav>a {
    border: none;
}
